.wrapper {
  margin-top: 20px;
  padding-block: 10px 60px;
  padding-left: 190px;
  box-sizing: border-box;
}

@media (width <= 700px) {

  .wrapper {
    padding-left: 50px;
  }

  .text {
    visibility: hidden;
  }
}

.footer {
  padding-inline: 10px;
  background: var(--bg-secondary);
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.wrapper__nav {
  position: fixed;
  top: 10px;
  left: 10px;
}

@media (width <= 475px) {

  .wrapper {
    padding: 0;
    box-sizing: border-box;
  }
}
